# generic editing tools
tags

#mac
*.DS_Store

# libs
libs/

# build tools
node_modules/
typings/

# logfiles
*.log
.idea/
.vscode/

# build artifacts
# 这个反智的写法我都要吐了
dist/
dist/js/

build/
webpack/dll/
stats.json
lib/

# Docs
doc/

